    <!--Header-->
              {{#if loggedIn}}
    <header class="container-fluid d-flex justify-content-center p-5 background-img">

        <div class="row card border-dark mb-3 bg-light" style="max-width: 100rem; --bs-bg-opacity: .90;">
            <div class="card-body">
                <h1 class="card-title">Thank you for logging in!</h1>
                <p class="card-text fs-4">You can access your dashboard by <a href="/dashboard">clicking here</a> or in the link above.</p>
            </div>

          </div>
        </div>

    </header>


<!--Else-->

{{else}}
    <header class="container-fluid p-5 background-img">

        <div class="card border-dark mb-3 bg-light" style="max-width: 35rem; --bs-bg-opacity: .7;">
            <div class="card-body">
                <h1 class="card-title">Join Us and get started!</h1>
                <p class="card-text">Sign up today to create your own event venue! It is free and only takes a couple of
                    minutes!</p>
            </div>
            <div><a class="nav-link" href="/signup"> <button type="button" class="btn btn-primary btn-lg m-0 rounded-5 w-45">Sign-Up
                        for
                        Free</button>

                    <a class="nav-link" href="/login"> <button type="button"
                            class="btn btn-success btn-lg m-0 rounded-5 w-45">Sign-In</button></a>
            </div>
          </div>
        </div>

    </header>
{{/if}}



<!--End of Header Section-->


<!--main content/Intro section-->
    

     <!--Main Content Section-->
              {{#if loggedIn}}
 <div class="container-lg">
    <div class="row">
        <main class="text-dark m-2 mb-5 text-center">
        <h2>See the full list of venues below</h2>
        <p>To create or edit your personal venues, check your dashboard page.
        <br />

      </p>


     <!--Else-->
 
 {{else}}
 <div class="container-lg bg-light">
    <div class="row">
        <main class="text-dark m-2 mb-5 text-center">
        <h2>Locating a Venue has never been easier!</h2>
        <p>You can browse venues local to you, Create an account or Login to add a new Venue!
        <br />

      </p>

      {{/if}}
      </main>

    <div class="row justify-content-center">

    {{#each dvenues as |venue|}}

    {{> single-card venue }}



  
  {{/each}}



