
<section class="container-fluid">
    <div class="row mt-3">
      <h1 class="text-center text-white bg-primary">Dashboard</h1>
        <p class="text-black text-center fs-5">This is your dashboard. You can use it to checkout venues you have created below, and you can create new venues using the form.
      <br>
      You can also edit a venue by clicking "edit" below the venue.
    </p>

</a>

<div class="col-7 col-lg-7 col-md-12 col-sm-12 mt-0">
  <div class="m-3">


<div class="row">
  <div>
      <h2 class="mt-3 text-center bg-light rounded-3">Venues</h2>
      </div>
<br><br>
<div class="row bg-dark rounded-3">
        {{#if dvenues.length}}

            {{#each dvenues as |venue|}}

              {{>single-card venue}}
              <div class="col-1 mt-3"><a
          href="/dashboard/edit/{{venue.id}}"
          class=" mt-1"
        ><button class="btn-sm btn-rounded-3 rounded-3 mb-3 bg-primary  text-white">Edit Venue</button>
        </a>
                      <a
          href="/dashboard/delete/{{venue.id}}"
          class=" mt-2"
        ><button class="btn-sm btn-rounded-3 bg-danger  text-white">Delete Venue</button>
        </a></div>
              

            {{/each}}

        {{/if}}

       </div>        
 </div>
  </div>
  </div>

<!--Form Data-->
       <div class="col-lg-4 mt-4 m-5">

  <h2 class="text-center bg-light rounded-3">Create New Venue</h2>
  <p class="text-center">Enter your details below to create a new venue</p>

  <form class="new-post-form">
            <!--Venue Name-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="name">Name of Venue:</label>
              <input type="name" class="form-control" id="name" placeholder="Enter Name of Venue" />
            </div>

            <!--Venue Type-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="venuetype.type_name">Type of Venue:</label>
              <input type="venuetype.type_name" class="form-control" id="venuetype" placeholder="Enter your Venue Type" />
            </div>

                        <!--Description Type-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="venuetype.type_name">Description of Venue:</label>
              <textarea type="venuetype.type_name" id="venuetype" placeholder="Enter a description of your Venue" class="form-control" rows="5"></textarea>
            </div>

            
            <!--Venue URL-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="url">Venue Website:</label>
              <input type="url" class="form-control" id="url" placeholder="Enter your Venue Website Address" />
            </div>


            <!--Street address-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="street" class="form-label">Street Address:</label>
              <input
                type="street"
                class="form-control"
                id="street"
                placeholder="Street Address" />
            </div>

            <!--City-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="city">City:</label>
              <input type="city" class="form-control" id="city" placeholder="Enter the City" />
            </div>

            <!--State-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="state">State:</label>
              <input type="state" class="form-control" id="state" placeholder="Enter the State" />
            </div>

  
          <!--Zipcode-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="zipcode">Zipcode:</label>
              <input type="zipcode" class="form-control" id="zipcode" placeholder="Enter the Zipcode" />
            </div>



          <!--Minimum Occupancy-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="min">Minimum number of Guest allowed</label>
              <input type="min" class="form-control" id="min" placeholder="Enter the Minimum number of Guest allowed" />
            </div>

          <!--Maximum Occupancy-->
             <div class="col-sm-12 col-form-label mb-3">
              <label for="max">Maximum number of Guest allowed</label>
              <input type="max" class="form-control" id="max" placeholder="Enter the Maximum number of Guest allowed" />
            </div>

          {{!-- Replace with Radio button to select true or false value
           <!--Third Party Vendors-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="third_party_vendors">Minimum Occupancy</label>
              <input type="third_party_vendors" class="form-control" id="third_party_vendors" placeholder="Does " />
            </div> --}}
            <div class="form-check">Does this venue accept 3rd party vendors?
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1">
             <label class="form-check-label" for="flexRadioDefault1">
              Yes
              </label>
              </div>
              <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                No
              </label>
            </div>


          <!--Submit Button-->
            <div class="col-sm-10">
              <a href="/cards/{{post.id}}"><button type="submit" class="btn btn-primary mb-3">Create Venue</button></a>
            </div>
            </form>
</div>


</div>

</section>
<script src="/javascript/addcard.js"></script>


