<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Venue
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="title" type="text" value="{{dvenues.title}}" />
      
    </div>
      <button type="submit">Save Venue</button>
    <button type="button" class="delete-post-btn">Delete Venue</button>
  </form>
</article>

<script src="/javascript/editcard.js"></script>
<script src="/javascript/deletecard.js"></script>
