
<div class="container-fluid p-5 background-signup">
  <div class="row justify-content-center">

    <div
      class="card border-dark border-2 mb-3 bg-light shadow p-3 mb-5 rounded"
      style="max-width: 35rem; --bs-bg-opacity: .85;"
    >
      <div class="card-body col-auto">
        <h1 class="card-title">Sign-Up Below</h1>
        <div class="mb-2">


<form class="signup-form">
            <!--First Name-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="first_name">First Name:</label>
              <input type="first_name" class="form-control" id="first_name" placeholder="Enter your First Name" />
            </div>

            <!--Last Name-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="last_name">Last Name:</label>
              <input type="last_name" class="form-control" id="last_name" placeholder="Enter your Last Name" />
            </div>

                          <!--Email-->

              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
            </div>

            <!--Phone number-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="phone_number">Phone Number:</label>
              <input type="phone_number" class="form-control" id="phone_number" placeholder="Enter a Phone number" />
            </div>

                        <!--Position title-->
            <div class="col-sm-12 col-form-label mb-3">
              <label for="position_title">Title:</label>
              <input type="position_title" class="form-control" id="position_title" placeholder="Enter your Title" />
            </div>

  
          <!--Username-->
          <form class="username mb-3">
            <div class="col-sm-12 col-form-label">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" placeholder="Enter a username" />
              </div>



          <!--Password-->

            <div class="col-sm-12 col-form-label mb-3">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Enter a password" />
            </div>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary mb-3">Sign-Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/signup.js"></script>

