.background-img {
  background-image: url("../images/hall1.jpg");
  max-width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  justify-content: center;
}

.card-shadow {
  box-shadow: 2px 2px 2px 2px #000088;
}
