.background-img {
  background-image: url("../images/hall1.jpg");
  max-width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-signup {
  background-image: url("../images/hall2.jpg");
  max-width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-login {
  background-image: url("../images/hall3.jpg");
  max-width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-edit {
  background-image: url("../images/hall4.jpg");
  max-width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-title {
  text-shadow: 2px, 2px, rgb(255, 0, 0);
}

.login-form {
  justify-content: center;
}

.center-items {
  text-align: center;
}

.background-grey {
  background-color: rgb(231, 231, 231);
}
